:root {
	--background: lightgray;
	--color: #000000;
}

.dark-theme {
	--background: #2d2626;
	--color: #ffffff;
}

#modeChanger {
	width: 3vw;
	position: relative;
	left: 92vw;
	top: -9vh;
	z-index: 100;
	cursor: pointer;
}
body {
	background-color: var(--background);
}

.contributors-container h2 {
	color: var(--color);
	display: flex;
	justify-content: center;
	align-items: center;
}

#contributors-list {
	list-style-type: none;

	padding-left: 0;

	display: grid;
	/* Add this line */

	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	/* Add this line */

	gap: 20px;
	/* Add this line to add space between grid items */
}


.contributor-image {
	border: 5px solid var(--color);
	width: 100px;
	padding: 10px;
	height: 100px;

	border-radius: 50%;

	margin-right: 10px;
}

.contributor-name {
	font-size: 20px;
	/* Adjust the font size as needed */
}

.contributor-name:hover {
	text-decoration: underline;
}

.contributors-container h2 {
	/* font-family: sans-serif; */
	font-size: 40px;

	font-weight: 800;

	margin-bottom: 20px;
}

.contributors-container a {
	text-decoration: none;

	color: var(--color);
	padding: 20px;
	font-size: medium;
}

.contributors-container a:hover {
	color: #ffc400;
}

#contributors-list {
	list-style-type: none;
	/* Add this line */

	padding-left: 0;
	/* Add this line to remove the default padding */
}
#contributors-list li:hover {
	color: #52df96;
	transform: translateY(-4px);
	transition: 0.3s;
}

#contributors-list li:hover .contributor-image {
	transform: scale(1.2);
}
p {
	color: var(--color);
}

.to-top-btn {
	background-color: black;
	font-size: 32px;
	position: fixed;
	bottom: 16px;
	right: 32px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f2f2f2;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s;
}
.to-top-btn.active {
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}
::-webkit-scrollbar {
	width: 1rem;
	height: 0.5rem;
}
::-webkit-scrollbar-track {
	background: white;
	border-radius: 100vw;
	margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
	background: rgb(69, 69, 69);
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(35, 35, 35);
}
