@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* Custom Scrollbar */
body{
    scrollbar-color:rgb(13, 62, 58);
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color:rgb(15 118 110);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgb(13, 101, 94);
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
 }